@import '../../styles/variables';

.main-container {
    display: flex;
    height: 100vh;

    .left-panel {
        position: relative;
        min-width: 400px;
        padding: 0 6px;
        border-right: 1px solid $grey3; 
        background-color: $grey1;
        overflow: auto;

        .close-menu-btn {
            display: none;
        }
    }
    
    .right-panel {
        width: 100%;
        background-color: white;
        position: relative;
        padding: 0 300px 0 100px;
        overflow: auto;

        .top-panel {
            position: sticky;
            top: 0px;
            background-color: inherit;
            z-index: 1;
            padding-right: 10px;
        }
    }

    .top-panel {
        display: flex;
        padding-left: 6px;
        height: 56px;
        border-bottom: 1px solid $grey3;
        align-items: center;

        .row-btns {
            top: 0;
        }

        .open-menu-btn {
            display: none;
        }
    }

    &.sidebar-opened {
        .right-panel {
            overflow: hidden;
        }

        .left-panel {
            height: 100%;
        }
    }
}

select, input {
    padding: 5px;
    height: 36px;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem !important;
    color: $grey6 !important;
    border: 2px solid $grey6;
    font-weight: bold;
    text-transform: uppercase;
}

input::placeholder {
    font-style: italic;
    color: $grey3-2;
}

.input-hidden {
    display: none;
}

@media screen and (max-width: 1700px) {
    .main-container .right-panel {
        padding: 0 100px;
    }  
}

@media screen and (max-width: 1400px) {
    .main-container .right-panel {
        padding: 0 5px;
    }  
}

@media screen and (max-width: 1200px) {
    .main-container {
        .left-panel {
            position: absolute;
            left: -410px;
            transition: left 0.2s;
            z-index: 2;

            .close-menu-btn {
                display: block;
            }
        }

        .left-panel.panel-opened {
            left: 0;
            z-index: 20;
        }

        .right-panel {
            padding: 0 100px;

            .top-panel {
                .open-menu-btn {
                    display: block;
                }
            }
        }  
    }
}

@media screen and (max-width: 1000px) {
    .main-container .right-panel {
        padding: 0 5px;
    } 
}

@media screen and (max-width: 400px) {
    .main-container .left-panel {
        min-width: 300px;
        left: -310px;
    }  
}
