.task-record {
    font-size: 1.2rem;
    display: flex;

    .checkmark {
        margin-right: 6px;
    }

    .delete-btn {
        margin-left: auto;
    }

    .material-icons {
        cursor: pointer;
        color: #909090;
        position: relative;
        top: 3px;
    }

    .material-icons:hover {
        color: black;
    }

    .task-done {
        color: #909090;
        text-decoration: line-through;
    }
    
    .task-undone {
        color: black;
        text-decoration: none;
    }
}

