@import '../../styles/variables';

.projects {
    min-width: 300px;
    margin-left: auto;
    background-color: $background-light;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 2px $shadow-color;
    padding: 10px 5px;

    .divider {
       width: 90%;
    }

    header {
        text-align: center;
    }
}

