@import '../../styles/_variables.scss';

.record {
    position: relative;
    display: flex;
    font-size: $font-size-normal;
    text-align: justify;
    padding-left: 6px;
    margin-bottom: 1px;
    border-radius: 4px;

    [contenteditable] {
        outline: 0px solid transparent;
        white-space: pre-wrap;
    }
    
    .hidden-btn:last-of-type {
        margin-left: auto;
        margin-right: 6px;
    }

    .material-icons {
        position: relative;
        top: 9px;
        font-size: $font-size-normal;
    }

    .item-done {
        color: $text-gray;
        text-decoration: line-through;
    }
    
    .item-content {
        padding: 4px 4px 6px 4px;
        width: 100%;
        overflow-wrap: anywhere;
    }

    .drag-mark {
        cursor: move;
        top: 11px;
    }

    .confirm-delete {
        position: absolute;
        right: 0;
        padding-left: 8px;
        background-color: inherit;
        border-radius: inherit;

        button {
            display: inline;
            cursor: pointer;
            margin: 0 8px 0 0;
        }
    }
}

.record-selected {
    background-color: $record-selected-color;
}

.record:hover {
    background-color: $record-hover-color;
    
    .hidden-btn {
        visibility: visible;
    }
}

.add-record {
    color: $text-gray;

    .add-mark {
        top: 11px;
        cursor: default;
    }
}

.record.title  {
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    color: $text-gray;

    .item-content:hover, .item-content:focus {
        text-decoration: underline;
    }

    .common-btn {
        display: none;
    }
}

.record.title:hover {
    background-color: inherit;
}

.record.title.read-only:hover .item-content:hover {
    text-decoration: none;
}