@import '../../styles/_variables.scss';

.record {
    display: flex;
    font-size: 1.2rem;
    text-align: justify;
    padding-left: 6px;
    margin-bottom: 1px;

    [contenteditable] {
        outline: 0px solid transparent;
        white-space: pre-wrap;
    }
    
    .hidden-btn:last-of-type {
        margin-left: auto;
        margin-right: 6px;
    }

    .pointer-btn {
        cursor: pointer;
    }

    .hidden-btn {
        visibility: hidden;
    }

    .material-icons {
        color: $text-gray;
        position: relative;
        top: 6px;
    }

    .material-icons:hover {
        color: black;
    }

    .item-done {
        color: $text-gray;
        text-decoration: line-through;
    }
    
    .item-content {
        padding: 4px 4px 6px 4px;
        width: 100%;
        overflow-wrap: anywhere;
    }

    .drag-mark {
        cursor: move;
    }
}

.record-selected {
    background-color: $record-selected-color;
}

.record:hover {
    background-color: $record-hover-color;
    
    .hidden-btn {
        visibility: visible;
    }
}

.record-selected, .record:hover {
    border-radius: 4px;
}

.add-record {
    color: $text-gray;

    .add-mark {
        top: 7px;
        cursor: default;
    }

    .add-mark:hover {
        color: $text-gray;
    }
}

.record.title  {
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    color: $text-gray;
    border: 1px dashed transparent;

    .item-content {
        border: 1px dashed transparent;
    }

    .item-content:focus, .item-content:hover{
        border: 1px dashed $text-gray;
        border-radius: 4px;
    }
}

.record.title:hover {
    background-color: inherit;
}

.record.title.read-only:hover .item-content:hover {
    border: 1px dashed transparent;
}