@import '../../styles/_variables.scss';

.record {
    display: flex;
    font-size: $font-size-5;
    margin-bottom: 1px;
    border-radius: 4px;
    padding: 2px 0 6px 6px;
    align-items: baseline;

    [contenteditable] {
        outline: 0px solid transparent;
        white-space: pre-wrap;
    }

    .item-content {
        width: 100%;
        overflow-wrap: anywhere;
        margin: 0 8px;
    }

    &.item-done .item-content {
        color: $grey5;
        text-decoration: line-through;
    }

    .prio-0 {
        color: $grey5;
    }
    .prio-1 {
        color: $green2;
    }
    .prio-2 {
        color: $yellow2;
    }
    .prio-3 {
        color: $orange1;
    }
    .prio-4 {
        color: $red4;
    }
}

.record-selected {
    background-color: $grey2;
}

.record:hover {
    background-color: $grey3;
    
    .hidden-btn {
        visibility: visible;
    }
}

.add-record {
    color: $grey5;
    cursor: text;

    .row-btns {
        top: 0.42rem;
    }

    .add-btn {
        cursor: default;
    }

    .add-btn:hover {
        color: $grey5;
    }
}

.record.title  {
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    color: $grey5;

    .item-content:hover, .item-content:focus {
        text-decoration: underline;
    }

    .common-btn {
        display: none;
    }
}

.record.title:hover {
    background-color: inherit;
}

.record.title.read-only:hover .item-content:hover {
    text-decoration: none;
}
