@import '../../styles/variables';

.priotity-box {
    position: relative;
    // height: 27px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: $font-size-1;
}

.priotity-switch {
    display: flex;
    position: absolute;
    right: 0;
    background-color: $record-selected-color;
    text-align: center;
    z-index: 1;
    border-bottom: 2px solid $text-gray; 
    border-left: 2px solid $text-gray; 

    & > div {
        height: 24px;
        width: 24px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-gray;
    }

    & > div:hover {
        background-color: $text-gray;
        color: $record-selected-color;
        border-radius: 3px;
    }
}

.priotity-switch:hover {
    background-color: $record-hover-color;
}

.priotity-current {
    background-color: $text-gray;
    color: $record-selected-color;
    border-radius: 3px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.priotity-current:hover {
    background-color: black;
}
