.tasks-box {
    box-sizing: border-box;
    width: 90%;
    margin: 20px auto;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 2px 3px 5px 2px grey;
    max-width: 1000px;
}
