.subtasks-list {
    margin: 0 0 6px 24px;

    .add-record > .item-content:empty::before {
        content: "new subtask";
    }

    .divider {
        margin: 3px 0 3px;
        border-top-style: dotted;
    }
}
