@import '../../styles/variables';

.common-btn {
    cursor: pointer;
    color: $text-gray;
    font-size: $font-size-normal;
}

.common-btn:hover {
    color: black;
}

.hidden-btn, .mobile-hidden-btn {
    visibility: hidden;
}

.drag-mark {
    cursor: move;
}

.row-btns {
    display: flex;
    padding-top: $font-size-normal / 3.6
}

.row-btns:first-child {
    margin-left: 4px;
}

.row-btns:last-child {
    margin-right: 8px;
    margin-left: auto;
}