@import '../../styles/variables';

.common-btn {
    cursor: pointer;
    color: $grey5;
    font-size: $font-size-7;
}

.common-btn:hover {
    color: black;
}

.hidden-btn, .mobile-hidden-btn {
    visibility: hidden;
}

.drag-mark {
    cursor: move;
}

.empty-btn {
    cursor: default;
}

.row-btns {
    display: flex;
    position: relative;
    top: 0.3rem;
}

.row-btns:first-child {
    margin-left: 4px;
}

.row-btns:last-child {
    margin-right: 8px;
    margin-left: auto;

    .common-btn:first-child {
        margin-right: 4px;
    }
}