@import '../../styles/variables';

.common-btn {
    cursor: pointer;
    color: $grey6;
    font-size: $font-size-7;
}

.common-btn:hover {
    color: black;
}

.hidden-btn, .mobile-hidden-btn {
    visibility: hidden;
}

.drag-mark {
    cursor: move;
}

.empty-btn {
    cursor: default;
}

.row-btns {
    display: flex;
    position: relative;
    top: 0.3rem;
}

.row-btns:first-child {
    margin-left: 4px;
}

.row-btns:last-child {
    margin-right: 8px;
    margin-left: auto;

    .common-btn:first-child {
        margin-right: 4px;
    }
}

.button {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 12px;
}

.button:focus {
    box-shadow: 0px 0px 6px 0px $grey6;
    outline: none;
}

.button:hover {
    cursor: pointer;
}

.outlined-btn {
    color: $grey6;
    background-color: $grey2;
    border: 2px solid $grey5;
}

.filled-btn {
    color: white;
    background-color: $grey5;
    border: 2px solid $grey6;
}

.outlined-btn:hover {
    background-color: $grey3;
}

.filled-btn:hover {
    background-color: $grey4-1;
}

.central-btn {
    margin-right: 8px;
    margin-left: auto;
}

.modal-btns {
    display: flex;
    justify-content: flex-end;
}