$grey1: #f5f5f5;
$grey2: #e6e6e6;
$grey3: #d6d6d6;
$grey4: #d6d6d6;
$grey5: #bbbbbb;
$grey6: #909090;
$grey7: #808080;
$grey8: #505050;

$green1: #9cf4d8;
$green2: #79b332;

$red1: #f4ac9c;
$red2: lightcoral;
$red3: coral;
$red4: #dd120e;

$yellow1: #f4d89c;
$yellow2: #e1d014;

$orange1: #e9980c;

$font-size-1: 1.1rem;
$font-size-3: 1.3rem;
$font-size-5: 1.5rem;
$font-size-7: 1.7rem;
