$text-gray: #909090;
$background-light: #f5f5f5;
$shadow-color: #808080;
$record-hover-color: #d6d6d6;
$record-selected-color:  #e6e6e6;
$devider-color: #d6d6d6;
$green1: #9CF4D8;
$red1: #F4AC9C;
$yellow1: #F4D89C;
$font-size-normal: 1.5rem;
$font-size-banner: 1.3rem; 