.project-list {
    header .record:hover {
        background-color: inherit;
    }

    .add-record > .item-content:empty::before {
        content: "new project";
    }

    .record {
        .material-icons {
            top: 7px;
        }

        .add-mark {
            top: 11px;
        }
    }
}

