@import '../../styles/variables';

.main-container {
    display: flex;
    min-height: 100vh;

    .left-panel {
        min-width: 400px;
        min-height: 100vh;
        max-height: 100vh;
        padding: 30px 6px;
        border-right: 1px solid $devider-color; 
        background-color: $background-light;
        overflow: auto;

        .close-menu-btn {
            position: absolute;
            display: none;
            top: 20px;
            font-size: 1.8rem;
            right: 6px;
        }
    }
    
    .right-panel {
        width: 100%;
        background-color: white;
        position: relative;
        padding: 0 300px 0 100px;

        .top-panel {
            display: flex;
            // justify-content: space-between;
            padding-bottom: 5px;

            .common-btn {
                font-size: 1.8rem;
                margin: 15px 6px 0 6px;
            }

            .common-btn:last-child {
                margin-left: auto;
            }

            .open-menu-btn {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .main-container .right-panel {
        padding: 0 100px;
    }  
}

@media screen and (max-width: 1400px) {
    .main-container .right-panel {
        padding: 0 5px;
    }  
}

@media screen and (max-width: 1200px) {
    .main-container {
        .left-panel {
            position: absolute;
            left: -410px;
            transition: left 0.2s;
            z-index: 2;

            .close-menu-btn {
                display: block;
            }
        }
        .left-panel.panel-opened {
            left: 0;
        }
        .right-panel {
            padding: 0 100px;

            .top-panel {
                .open-menu-btn {
                    display: block;
                }
            }
        }  
    }
}

@media screen and (max-width: 1000px) {
    .main-container .right-panel {
        padding: 0 5px;
    } 
}

@media screen and (max-width: 400px) {
    .main-container .left-panel {
        min-width: 300px;
        left: -310px;
    }  
}
