@import '../../styles/variables';

.main-container {
    display: flex;
    min-height: 100vh;

    .left-panel {
        width: 400px;
        padding: 50px 6px 20px 6px;
        border-right: 1px solid $devider-color; 
        background-color: $background-light;
    }
    
    .right-panel {
        width: 100%;
        background-color: white;
        position: relative;

        .right-content {
            margin-top: 50px;
            padding: 0 300px 0 100px;
        }
    }
}

.menu {
    padding: 0 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: $text-gray;

    .material-icons-outlined {
        color: $text-gray;
        position: relative;
        top: 2px;
    }

    .menu-item {
        cursor: pointer;
        padding: 4px 4px 6px;
    
        i {
            margin-left: 24px;
            margin-right: 5px;
        }
    
        i, span {
            vertical-align: top;
        }
    }
    
    .menu-item:hover {
        background-color: $record-hover-color;
        border-radius: 4px;
    }
}
