@import '../../styles/variables';

.main-container {
    display: flex;
    min-height: 100vh;

    .left-panel {
        min-width: 400px;
        min-height: 100vh;
        max-height: 100vh;
        padding: 30px 6px;
        border-right: 1px solid $devider-color; 
        background-color: $background-light;
        overflow: auto;

        .close-menu-btn {
            position: absolute;
            display: none;
            top: 20px;
            font-size: 1.8rem;
            right: 6px;
        }
    }
    
    .right-panel {
        width: 100%;
        background-color: white;
        position: relative;

        .right-content {
            margin-top: 30px;
            padding: 0 300px 0 100px;
        }

        .open-menu-btn {
            position: absolute;
            z-index: 1;
            display: none;
            top: 20px;
            font-size: 1.8rem;
        }
    }
}

.menu {
    padding: 0 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: $text-gray;

    .material-icons-outlined {
        color: $text-gray;
        position: relative;
        top: 6px;
        left: 2px;
    }

    .menu-item {
        cursor: pointer;
        padding: 4px 4px 6px;
    
        i {
            margin-left: 24px;
            margin-right: 5px;
        }
    
        i, span {
            vertical-align: top;
        }
    }
    
    .menu-item:hover {
        background-color: $record-hover-color;
        border-radius: 4px;
    }
}

@media screen and (max-width: 1700px) {
    .main-container .right-panel .right-content {
        padding: 0 100px;
    }  
}

@media screen and (max-width: 1400px) {
    .main-container .right-panel .right-content {
        padding: 0 10px;
    }  
}

@media screen and (max-width: 1200px) {
    .main-container {
        .left-panel {
            position: absolute;
            left: -410px;
            transition: left 0.2s;
            z-index: 2;

            .close-menu-btn {
                display: block;
            }
        }
        .left-panel.panel-opened {
            left: 0;
        }
        .right-panel {
            .right-content {
                padding: 0 100px;
            }
            .open-menu-btn {
                display: block;
                left: 133px;
            }
        }  
    }
}

@media screen and (max-width: 1000px) {
    .main-container {
        .right-panel {
            .right-content {
                padding: 0 10px;
            }
            .open-menu-btn {
                left: 43px;
            }
        } 
    }
}

@media screen and (max-width: 400px) {
    .main-container .left-panel {
        min-width: 300px;
        left: -310px;
    }  
}
