@import '../../styles/variables';

.project-list {
    header .record:hover {
        background-color: inherit;
    }

    .add-record > .item-content:empty::before {
        content: "new project";
    }

    .record {
        .subtasks-btn {
            display: none;
        }
    }
}

.task-list {
    header .record {
        margin-left: 5px;
        margin-right: 5px;
    }

    & > .add-record > .item-content:empty::before {
        content: "new task";
    } 
}

.subtasks-list {
    margin: 0 0 6px 30px;

    .add-record > .item-content:empty::before {
        content: "new subtask";
    }

    .divider {
        margin: 3px 0 3px;
        border-top-style: dotted;
    }
}

.completed-tasks {
    margin-top: 12px;    
    padding-top: 10px;
    border-top: 1px solid $grey3;
}

.title  {
    display: flex;
    font-weight: bold;
    font-size: $font-size-7;
    color: $grey6;
    border-bottom: 1px solid $grey3;
    align-items: center;
    height: 56px;
    margin-bottom: 6px;
    justify-content: center;
    outline: none;
    white-space: nowrap;

    &:hover, &:focus {
        text-decoration: underline;
    }

    &.read-only:hover {
        text-decoration: none;
    }
}
