@import '../../styles/variables';

.modal-background {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 90%;
    background-color: $background-light;
    z-index: 1;
}

.modal-container {
    position: absolute;
    height: 100%;
    width: 100%;

    .modal-dialog {
        position: absolute;
        width: 400px;
        height: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        background-color: $background-light;
        box-shadow: 2px 3px 9px 2px $shadow-color;
        z-index: 2;
    }
}