@import '../../styles/variables';

.modal-container {
    position: absolute;
    height: 100%;
    width: 100%;

    .modal-dialog {
        position: absolute;
        width: 350px;
        height: 150px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $background-light;
        box-shadow: 1px 2px 5px 3px $shadow-color;
        z-index: 2;
        padding: 20px;
        font-size: $font-size-3;
        color: $text-gray;    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .modal-btns {
            display: flex;
            justify-content: flex-end;

            .common-btn {
                font-size: 2rem;
                margin-left: 8px;
            }

            .close-btn {
                color: $red2;
            }

            .close-btn:hover {
                color: $red3;
            }

            .confirm-btn {
                color: forestgreen;
            }

            .confirm-btn:hover {
                color: yellowgreen;
            }
        }
    }
}
