@import '../../styles/variables';

.sync-status {
    display: flex;
    
    .no-hover:hover {
        color: $grey6;
        cursor: default;
    }

    .failure {
        color: $red2;
    }

    .failure:hover {
        color: $red3;
    }

    .syncing {
        animation: rotation 2s reverse infinite linear;
    }
      
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
