@import '../../styles/_variables.scss';

header .record  {
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    color: $text-gray;
}

header .item-content {
    border: 1px dashed transparent;
}

header .item-content:focus {
    border: 1px dashed $text-gray;
    border-radius: 4px;
}