.task-list {
    header .record {
        margin-left: 5px;
        margin-right: 5px;
    }
    
    & > .active-tasks {
        margin: 0 auto;
        padding: 5px;
    }

    & > .completed-tasks {
        margin: 0 auto;
        padding: 5px;
        
        .record {
            padding-left: 28px;
        }
    }

    & > .add-record > .item-content:empty::before {
        content: "new task";
    } 
}