.task-list {
    margin: 0 auto;
    padding: 5px;

    .add-task-record {
        font-size: 1.2rem;
        color: #909090;
        margin-top: 6px;

        .add-mark {
            margin-right: 6px;
            vertical-align: middle;
        }
    }
}